node_modules
.vscode
index copy.html
index-cobaok.html
index copy 2.html
index copy 3.html
index copy 4.html
index-ok.html
main copy.js
contact.html
project.html
main copy 2.js
main copy 3.js
./src/index copy.html
src/index copy 2.html
src/index copy 3.html
src/index copy 4.html
src/index-cobaok.html
src/index-ok.html
src/main copy 2.js
src/main copy 3.js
src/main copy.js



